@font-face {
    font-family: mokoto;
    src: url('../../Fonts/Mokoto-Demo.ttf');
}

@font-face {
    font-family: mont;
    src: url(../Fonts/Oswald-VariableFont_wght.ttf);
}

.AboutTheCompany{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 200px;
}

.ATCText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 700px;
    height: 500px;
    color: #fff;
}

.ATCText h1{
    width: 100%;
    font-family: mokoto;
    letter-spacing: 2px;
    margin: 0px;
    font-size: 60px;
}

.ATCText p{
    font-family: mokoto;
    letter-spacing: 2px;
    line-height: 30px;
    font-size: 25px;
    font-weight:550;
}

.Logo{
    width: 450px;
    height: 450px;
}


@media (max-width: 480px) {
    .AboutTheCompany{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 0px; 
    }

    .Logo{
        display: none;
        height: 300px;
        width: 300px;
    }

    .ATCText{
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ATCText h1{
        width: 80%;
        font-size: 24px;
        
    }

    .ATCText p{
        width: 80%;
        font-size: 12px;
        line-height: 12px;
        /* margin-left: 25px; */
    }
}

/* @media (min-width: 322px) and (max-width: 376px) {
    .AboutTheCompany{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 100px; 
    }

    .Logo{
        display: none;
        height: 300px;
        width: 300px;
    }

    .ATCText{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ATCText h1{
        width: 88%;
        font-size: 20px;
        
    }

    .ATCText p{
        width: 88%;
        font-size: 10px;
        line-height: 15px;
        /* margin-left: 25px; */
    /* } */
/* } */

/* @media (min-width: 377px) and (max-width: 426px) {
    .AboutTheCompany{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 100px; 
    }

    .Logo{ 
        display: none;
        height: 300px;
        width: 300px;
    }

    .ATCText{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ATCText h1{
        width: 88%;
        font-size: 20px;
        
    }

    .ATCText p{
        width: 88%;
        font-size: 11px;
        line-height: 15px;
        /* margin-left: 25px; */
    /* } */
/* } */

@media (min-width: 481px) and (max-width: 768px) {
    .AboutTheCompany{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 100px; 
    }

    .Logo{
        display: none;
        height: 300px;
        width: 300px;
    }

    .ATCText{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ATCText h1{
        width: 70%;
        font-size: 25px;
        
    }

    .ATCText p{
        width: 70%;
        font-size: 15px;
        /* margin-left: 25px; */
    }
}

@media (min-width: 769px) and (max-width: 1279px) {
    .AboutTheCompany{
        width: 90%;
        display: flex;
        flex-direction: row;
        gap: 0;
        margin-top: 25px;
    }

    .Logo{
        height: 300px;
        width: 300px;
    }

    .ATCText{
        width: 80%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ATCText h1{
        width: 70%;
        font-size: 30px;
        
    }

    .ATCText p{
        width: 70%;
        font-size: 18px;
        line-height: 20px;
    }
}
