@font-face {
  font-family: mokoto;
  src: url("../Fonts/Mokoto-Demo.ttf");
}

.TitleGroup {
  width: 100%;
  margin-top: 80px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ServicesTitle {
  display: flex;
  width: 300px;
  height: 50px;
  font-family: mokoto;
  font-size: 40px;
  letter-spacing: 2px;
  color: white;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.LineShape {
  height: 10px;
  width: 300px;
  background-image: linear-gradient(to right, #d2152b, #b0b0b0);
  border-radius: 10px;
}

.body{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.Row1 {
  display: flex;
  justify-content: space-evenly;
  height: 370px;
  margin-bottom: 100px;
}

.Card1 {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  color: #fff;
  font-family: mokoto;
  letter-spacing: 2px;
  text-align: center;
  gap: 10px;
  background-color: #00000070;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 15px 25px #000000;
}
.Img1 {
  width: 200px;
  height: 200px;
}

.Img2 {
  width: 200px;
  height: 200px;
}

.Img3 {
  width: 200px;
  height: 200px;
}

.Row2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  font-family: mokoto;
  color: #fff;
  letter-spacing: 2px;
  text-align: center;
}

.Card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  border-radius: 30px;
  gap: 10px;
  background-color: #00000070;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 15px 25px #000000;
  padding: 30px;
}
.Img4 {
  width: 200px;
  height: 200px;
}

.Img5 {
  width: 200px;
  height: 200px;
}

@media (max-width: 480px) {
  .TitleGroup {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-top: 50px;
  }

  .ServicesTitle {
    padding: 0px;
    font-size: 15px;
    width: 250px;
    height: 20px;
  }

  .LineShape {
    width: 135px;
    height: 5px;
  }

  .body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 135vh;
  }

  .Row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 155px;
    gap: 30px;
  }

  .Card1{
    width: 70%;
    padding: 25px;
  }

  .Img1 {
    width: 100px;
    height: 100px;
  }
  
  .Img2 {
    width: 100px;
    height: 100px;
  }
  
  .Img3 {
    width: 100px;
    height: 100px;
  }

  .Card1 p{
    font-size: 12px;
  }
  
  .Row2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .Card2{
    width: 70%;
    padding: 25px;
  }

  .Img4 {
    width: 100px;
    height: 100px;
  }
  
  .Img5 {
    width: 100px;
    height: 100px;
  }

  .Card2 p{
    font-size: 12px;
  }
}

/* @media (min-width: 322px) and (max-width: 376px) {
  .TitleGroup {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-top: 50px;
  }

  .ServicesTitle {
    padding: 0px;
    font-size: 17px;
    width: 250px;
    height: 25px;
  }

  .LineShape {
    width: 140px;
    height: 5px;
  }

  .body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 175vh;
  }

  .Row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 155px;
    gap: 30px;
  }

  .Card1{
    width: 70%;
    padding: 25px;
  }

  .Img1 {
    width: 100px;
    height: 100px;
  }
  
  .Img2 {
    width: 100px;
    height: 100px;
  }
  
  .Img3 {
    width: 100px;
    height: 100px;
  }

  .Card1 p{
    font-size: 12px;
  }
  
  .Row2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .Card2{
    width: 70%;
    padding: 25px;
  }

  .Img4 {
    width: 100px;
    height: 100px;
  }
  
  .Img5 {
    width: 100px;
    height: 100px;
  }

  .Card2 p{
    font-size: 12px;
  }
}

@media (min-width: 377px) and (max-width: 426px) {
  .TitleGroup {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-top: 50px;
  }

  .ServicesTitle {
    padding: 0px;
    font-size: 17px;
    width: 250px;
    height: 25px;
  }

  .LineShape {
    width: 140px;
    height: 5px;
  }

  .body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 173vh;
  }

  .Row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 155px;
    gap: 30px;
  }

  .Card1{
    width: 70%;
    padding: 25px;
  }

  .Img1 {
    width: 100px;
    height: 100px;
  }
  
  .Img2 {
    width: 100px;
    height: 100px;
  }
  
  .Img3 {
    width: 100px;
    height: 100px;
  }

  .Card1 p{
    font-size: 12px;
  }
  
  .Row2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .Card2{
    width: 70%;
    padding: 25px;
  }

  .Img4 {
    width: 100px;
    height: 100px;
  }
  
  .Img5 {
    width: 100px;
    height: 100px;
  }

  .Card2 p{
    font-size: 12px;
  }
} */

@media (min-width: 481px) and (max-width: 768px) {
  .TitleGroup {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-top: 50px;
  }

  .ServicesTitle {
    padding: 0px;
    font-size: 17px;
    width: 250px;
    height: 25px;
  }

  .LineShape {
    width: 140px;
    height: 5px;
  }

  .body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 135vh;
  }

  .Row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    gap: 30px;
  }

  .Card1{
    width: 50%;
    padding: 25px;
  }

  .Img1 {
    width: 100px;
    height: 100px;
  }
  
  .Img2 {
    width: 100px;
    height: 100px;
  }
  
  .Img3 {
    width: 100px;
    height: 100px;
  }

  .Card1 p{
    font-size: 12px;
  }
  
  .Row2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .Card2{
    width: 50%;
    padding: 25px;
  }

  .Img4 {
    width: 100px;
    height: 100px;
  }
  
  .Img5 {
    width: 100px;
    height: 100px;
  }

  .Card2 p{
    font-size: 12px;
  }
}

@media (min-width: 769px) and (max-width: 1279px) {
  .TitleGroup {
    width: 100%;
    margin-top: 80px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .ServicesTitle {
    display: flex;
    width: 300px;
    height: 50px;
    font-family: mokoto;
    font-size: 40px;
    letter-spacing: 2px;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  
  .LineShape {
    height: 10px;
    width: 300px;
    background-image: linear-gradient(to right, #d2152b, #b0b0b0);
    border-radius: 10px;
  }
  
  .body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  
  .Row1 {
    display: flex;
    justify-content: space-evenly;
    height: 370px;
    /* margin-bottom: 100px; */
  }
  
  .Card1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: #fff;
    font-family: mokoto;
    letter-spacing: 2px;
    text-align: center;
    gap: 10px;
    background-color: #00000070;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 15px 25px #000000;
    padding: 30px;
    height: 300px;
  }
  .Img1 {
    width: 200px;
    height: 200px;
  }
  
  .Img2 {
    width: 200px;
    height: 200px;
  }
  
  .Img3 {
    width: 200px;
    height: 200px;
  }
  
  .Row2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    font-family: mokoto;
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
  }
  
  .Card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    border-radius: 30px;
    gap: 10px;
    background-color: #00000070;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 15px 25px #000000;
    padding: 30px;
  }
  .Img4 {
    width: 200px;
    height: 200px; 
  }
  
  .Img5 {
    width: 200px;
    height: 200px;
  }
}