@font-face {
    font-family: mokoto;
    src: url('../../Fonts/Mokoto-Demo.ttf');
}

@keyframes position {
    0% {
        background-image: linear-gradient(to bottom right, #ffffff50, #00ffff45);
    }
    50% {
        background-image: linear-gradient(to top right, #ffffff50, #00ffff45);
    }
    100% {
        background-image: linear-gradient(to top left, #ffffff50, #00ffff45);
    }
}

.VCMain{
    margin-bottom: 60px;
}

.VCBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.VCRow1{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.VCRow2{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.VCRow3{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.VCRow4{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.VCTitleGroup{
    width: 100%;
    margin-top: 0;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.VCTitle{
    display: flex;
    width: 100%;
    height: 40px;
    font-family: mokoto;
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.LineShape7{
    height: 10px;
    width: 410px;
    background-image: linear-gradient(to right, #D2152B, #B0B0B0);
    border-radius: 10px;
}

.Row1Card1{
    width: 300px;
    height: 150px;
    background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
    transition: all 1.5s ease-in-out;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: mokoto;
    letter-spacing: 2px;
    overflow: hidden;
}

.Row1Card1:hover{
    transition: 0.5s;
    filter: grayscale(100%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.Row1Card1 img{
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.Row1Card1:hover > img{
    transition: 1.5s;
    filter: blur(2px);
}

.Row1Card1:not(:hover) > img{
    transition: 1.5s;
    filter: blur(0px);
}

.Row1Card1 h2{
    z-index: 1;
    opacity: 0;
}

.Row1Card1:hover > h2{
    transition: 1s;
    opacity: 1;
}

.Row1Card1:not(:hover) > h2{
    transition: 1s;
    opacity: 0;
}

.Row1Card2{
    width: 300px;
    height: 150px;
    background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
    transition: all 1.5s ease-in-out;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: mokoto;
    letter-spacing: 2px;
}

.Row1Card2:hover{
    transition: 0.5s;
    filter: grayscale(100%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.Row1Card2 img{
    position: absolute;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.Row1Card2:hover > img{
    transition: 2s;
    filter: blur(2px);
}

.Row1Card2:not(:hover) > img{
    transition: 2s;
    filter: blur(0px);
}

.Row1Card2 h2{
    z-index: 1;
    opacity: 0;
}

.Row1Card2:hover > h2{
    transition: 1s;
    opacity: 1;
}

.Row1Card2:not(:hover) > h2{
    transition: 1s;
    opacity: 0;
}

.Row1Card3{
    width: 300px;
    height: 150px;
    background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
    transition: all 1.5s ease-in-out;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: mokoto;
    letter-spacing: 2px;
}

.Row1Card3:hover{
    transition: 0.5s;
    filter: grayscale(100%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.Row1Card3 h2{
    z-index: 1;
    opacity: 0;
}

.Row1Card3:hover > h2{
    transition: 1s;
    opacity: 1;
}

.Row1Card3:not(:hover) > h2{
    transition: 1s;
    opacity: 0;
}

.Row1Card3 img{
    position: absolute;
    width: 150px;
    height: 110px;
    object-fit: cover;
}

.Row1Card3:hover > img{
    transition: 2s;
    filter: blur(2px);
}

.Row1Card3:not(:hover) > img{
    transition: 2s;
    filter: blur(0px);
}

.Row2Card1{
    width: 300px;
    height: 150px;
    background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
    transition: all 1.5s ease-in-out;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: mokoto;
    letter-spacing: 2px;
}

.Row2Card1:hover{
    transition: 0.5s;
    filter: grayscale(100%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}


.Row2Card1 img{
    position: absolute;
    width: 170px;
    height: 90px;
    object-fit: cover;
}

.Row2Card1:hover > img{
    transition: 2s;
    filter: blur(2px);
}

.Row2Card1:not(:hover) > img{
    transition: 2s;
    filter: blur(0px);
}

.Row2Card1 h2{
    z-index: 1;
    opacity: 0;
}

.Row2Card1:hover > h2{
    transition: 1s;
    opacity: 1;
}

.Row2Card1:not(:hover) > h2{
    transition: 1s;
    opacity: 0;
}

.Row2Card2{
    width: 300px;
    height: 150px;
    background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
    transition: all 1.5s ease-in-out;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: mokoto;
    letter-spacing: 2px;
}

.Row2Card2:hover{
    transition: 0.5s;
    filter: grayscale(100%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.Row2Card2 img{
    position: absolute;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.Row2Card2:hover > img{
    transition: 2s;
    filter: blur(2px);
}

.Row2Card2:not(:hover) > img{
    transition: 2s;
    filter: blur(0px);
}

.Row2Card2 h2{
    z-index: 1;
    opacity: 0;
}

.Row2Card2:hover > h2{
    transition: 1s;
    opacity: 1;
}

.Row2Card2:not(:hover) > h2{
    transition: 1s;
    opacity: 0;
}

.Row2Card3{
    width: 300px;
    height: 150px;
    background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
    transition: all 1.5s ease-in-out;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: mokoto;
    letter-spacing: 2px;
}

.Row2Card3:hover{
    transition: 0.5s;
    filter: grayscale(100%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.Row2Card3 img{
    position: absolute;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.Row2Card3:hover > img{
    transition: 2s;
    filter: blur(2px);
}

.Row2Card3:not(:hover) > img{
    transition: 2s;
    filter: blur(0px);
}

.Row2Card3 h2{
    z-index: 1;
    opacity: 0;
}

.Row2Card3:hover > h2{
    transition: 1s;
    opacity: 1;
}

.Row2Card3:not(:hover) > h2{
    transition: 1s;
    opacity: 0;
}

.Row3Card1{
    width: 300px;
    height: 150px;
    background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
    transition: all 1.5s ease-in-out;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: mokoto;
    letter-spacing: 2px;
}

.Row3Card1:hover{
    transition: 0.5s;
    filter: grayscale(100%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.Row3Card1 img{
    position: absolute;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.Row3Card1:hover > img{
    transition: 2s;
    filter: blur(2px);
}

.Row3Card1:not(:hover) > img{
    transition: 2s;
    filter: blur(0px);
}

.Row3Card1 h2{
    z-index: 1;
    opacity: 0;
}

.Row3Card1:hover > h2{
    transition: 1s;
    opacity: 1;
}

.Row3Card1:not(:hover) > h2{
    transition: 1s;
    opacity: 0;
}

.Row3Card2{
    width: 300px;
    height: 150px;
    background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
    transition: all 1.5s ease-in-out;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: mokoto;
    letter-spacing: 2px;
}

.Row3Card2:hover{
    transition: 0.5s;
    filter: grayscale(100%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.Row3Card2 img{
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover; 
}

.Row3Card2:hover > img{
    transition: 2s;
    filter: blur(2px);
}

.Row3Card2:not(:hover) > img{
    transition: 2s;
    filter: blur(0px);
}

.Row3Card2 h2{
    z-index: 1;
    opacity: 0;
}

.Row3Card2:hover > h2{
    transition: 1s;
    opacity: 1;
}

.Row3Card2:not(:hover) > h2{
    transition: 1s;
    opacity: 0;
}

.Row3Card3{
    width: 300px;
    height: 150px;
    background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
    transition: all 1.5s ease-in-out;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: mokoto;
    letter-spacing: 2px;
}

.Row3Card3:hover{
    transition: 0.5s;
    filter: grayscale(100%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.Row3Card3 img{
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.Row3Card3:hover > img{
    transition: 2s;
    filter: blur(2px);
}

.Row3Card3:not(:hover) > img{
    transition: 2s;
    filter: blur(0px);
}

.Row3Card3 h2{
    z-index: 1;
    opacity: 0;
}

.Row3Card3:hover > h2{
    transition: 1s;
    opacity: 1;
}

.Row3Card3:not(:hover) > h2{
    transition: 1s;
    opacity: 0;
}

.Row4Card1{
    width: 300px;
    height: 150px;
    background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
    transition: all 1.5s ease-in-out;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: mokoto;
    letter-spacing: 2px;
}

.Row4Card1:hover{
    transition: 0.5s;
    filter: grayscale(100%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.Row4Card1 img{
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.Row4Card1:hover > img{
    transition: 2s;
    filter: blur(2px);
}

.Row4Card1:not(:hover) > img{
    transition: 2s;
    filter: blur(0px);
}

.Row4Card1 h2{
    z-index: 1;
    opacity: 0;
}

.Row4Card1:hover > h2{
    transition: 1s;
    opacity: 1;
}

.Row4Card1:not(:hover) > h2{
    transition: 1s;
    opacity: 0;
}

.Row4Card2{
    width: 300px;
    height: 150px;
    background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
    transition: all 1.5s ease-in-out;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: mokoto;
    letter-spacing: 2px;
}

.Row4Card2:hover{
    transition: 0.5s;
    filter: grayscale(100%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.Row4Card2 img{
    position: absolute;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.Row4Card2:hover > img{
    transition: 2s;
    filter: blur(2px);
}

.Row4Card2:not(:hover) > img{
    transition: 2s;
    filter: blur(0px);
}

.Row4Card2 h2{
    opacity: 0;
    z-index: 1;
}

.Row4Card2:hover > h2{
    transition: 1s;
    opacity: 1;
}

.Row4Card2:not(:hover) > h2{
    transition: 1s;
    opacity: 0;
}

.Row4Card3{
    width: 300px;
    height: 150px;
    background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
    transition: all 1.5s ease-in-out;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: mokoto;
    letter-spacing: 2px;
}

.Row4Card3:hover{
    transition: 0.5s;
    filter: grayscale(100%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.Row4Card3 img{
    position: absolute;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.Row4Card3:hover > img{
    transition: 2s;
    filter: blur(2px);
}

.Row4Card3:not(:hover) > img{
    transition: 2s;
    filter: blur(0px);
}

.Row4Card3 h2{
    opacity: 0;
    z-index: 1;
}

.Row4Card3:hover > h2{
    transition: 1s;
    opacity: 1;
}

.Row4Card3:not(:hover) > h2{
    transition: 1s;
    opacity: 0;
}

@media (max-width: 480px) {

    .VCTitle{ 
        display: flex;
        width: 100%;
        height: 20px;
        font-family: mokoto;
        font-size: 12px;
        letter-spacing: 2px;
        color: white;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .LineShape7{
        width: 190px;
        height: 5px;
    }

    .VCRow1{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .VCRow2{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .VCRow3{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .VCRow4{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .Row1Card1{
        width: 30%;
        height: 70px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        overflow: hidden;
        font-size: 13px;
        text-align: center;
    }

    .Row1Card1 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row1Card1 h2{
        font-size: 15px;
    }

    .Row1Card2{
        width: 30%;
        height: 70px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row1Card2 h2{
        font-size: 15px;
    }

    .Row1Card2 img{
        position: absolute;
        width: 65px;
        height: 65px;
        object-fit: cover;
    }

    .Row1Card3{
        width: 30%;
        height: 70px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
        text-align: center;
    }

    .Row1Card3 h2{
        font-size: 10px;
    }

    .Row1Card3 img{
        position: absolute;
        width: 70px;
        height: 50px;
        object-fit: cover;
    }

    .Row2Card1{
        width: 30%;
        height: 70px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row2Card1 h2{
        font-size: 15px;
    }

    .Row2Card1 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row2Card2{
        width: 30%;
        height: 70px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row2Card2 h2{
        font-size: 15px;
    }

    .Row2Card2 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row2Card3{
        width: 30%;
        height: 70px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 12px;
        text-align: center;
    }

    .Row2Card3 h2{
        font-size: 14px;
    }

    .Row2Card3 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row3Card1{
        width: 30%;
        height: 70px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
        text-align: center;
    }

    .Row3Card1 h2{
        font-size: 10px;
    }

    .Row3Card1 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row3Card2{
        width: 30%;
        height: 70px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
        text-align: center;
    }

    .Row3Card2 h2{
        font-size: 10px;
    }

    .Row3Card2 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row3Card3{
        width: 30%;
        height: 70px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
    }

    .Row3Card3 h2{
        font-size: 12px;
    }

    .Row3Card3 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
        
    }

    .Row4Card1{
        width: 30%;
        height: 70px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        overflow: hidden;
        font-size: 7px;
    }

    .Row4Card1 h2{
        font-size: 8px;
    }

    .Row4Card1 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row4Card2{
        width: 30%;
        height: 70px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row4Card2 h2{
        font-size: 15px;
    }

    .Row4Card2 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row4Card3{
        width: 30%;
        height: 70px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
    }

    .Row4Card3 h2{
        font-size: 12px;
    }

    .Row4Card3 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }
}

/* @media (min-width: 322px) and (max-width: 376px) {

    .VCTitle{ 
        display: flex;
        width: 100%;
        height: 20px;
        font-family: mokoto;
        font-size: 15px;
        letter-spacing: 2px;
        color: white;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .LineShape7{
        width: 225px;
        height: 7px;
    }

    .VCRow1{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .VCRow2{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .VCRow3{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .VCRow4{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .Row1Card1{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        overflow: hidden;
        font-size: 13px;
        text-align: center;
    }

    .Row1Card1 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row1Card1 h2{
        font-size: 15px;
    }

    .Row1Card2{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row1Card2 h2{
        font-size: 15px;
    }

    .Row1Card2 img{
        position: absolute;
        width: 65px;
        height: 65px;
        object-fit: cover;
    }

    .Row1Card3{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
        text-align: center;
    }

    .Row1Card3 h2{
        font-size: 10px;
    }

    .Row1Card3 img{
        position: absolute;
        width: 70px;
        height: 50px;
        object-fit: cover;
    }

    .Row2Card1{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row2Card1 h2{
        font-size: 15px;
    }

    .Row2Card1 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row2Card2{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row2Card2 h2{
        font-size: 15px;
    }

    .Row2Card2 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row2Card3{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 12px;
        text-align: center;
    }

    .Row2Card3 h2{
        font-size: 14px;
    }

    .Row2Card3 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row3Card1{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
        text-align: center;
    }

    .Row3Card1 h2{
        font-size: 10px;
    }

    .Row3Card1 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row3Card2{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
        text-align: center;
    }

    .Row3Card2 h2{
        font-size: 10px;
    }

    .Row3Card2 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row3Card3{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
    }

    .Row3Card3 h2{
        font-size: 12px;
    }

    .Row3Card3 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
        
    }

    .Row4Card1{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        overflow: hidden;
        font-size: 7px;
    }

    .Row4Card1 h2{
        font-size: 8px;
    }

    .Row4Card1 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row4Card2{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row4Card2 h2{
        font-size: 15px;
    }

    .Row4Card2 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row4Card3{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
    }

    .Row4Card3 h2{
        font-size: 12px;
    }

    .Row4Card3 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }
}

@media (min-width: 377px) and (max-width: 426px) {

    .VCTitle{ 
        display: flex;
        width: 100%;
        height: 20px;
        font-family: mokoto;
        font-size: 15px;
        letter-spacing: 2px;
        color: white;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .LineShape7{
        width: 225px;
        height: 7px;
    }

    .VCRow1{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .VCRow2{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .VCRow3{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .VCRow4{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .Row1Card1{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        overflow: hidden;
        font-size: 13px;
        text-align: center;
    }

    .Row1Card1 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row1Card1 h2{
        font-size: 15px;
    }

    .Row1Card2{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row1Card2 h2{
        font-size: 15px;
    }

    .Row1Card2 img{
        position: absolute;
        width: 65px;
        height: 65px;
        object-fit: cover;
    }

    .Row1Card3{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
        text-align: center;
    }

    .Row1Card3 h2{
        font-size: 10px;
    }

    .Row1Card3 img{
        position: absolute;
        width: 70px;
        height: 50px;
        object-fit: cover;
    }

    .Row2Card1{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row2Card1 h2{
        font-size: 15px;
    }

    .Row2Card1 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row2Card2{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row2Card2 h2{
        font-size: 15px;
    }

    .Row2Card2 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row2Card3{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 12px;
        text-align: center;
    }

    .Row2Card3 h2{
        font-size: 14px;
    }

    .Row2Card3 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row3Card1{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
        text-align: center;
    }

    .Row3Card1 h2{
        font-size: 10px;
    }

    .Row3Card1 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row3Card2{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
        text-align: center;
    }

    .Row3Card2 h2{
        font-size: 10px;
    }

    .Row3Card2 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row3Card3{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
    }

    .Row3Card3 h2{
        font-size: 12px;
    }

    .Row3Card3 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
        
    }

    .Row4Card1{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        overflow: hidden;
        font-size: 7px;
    }

    .Row4Card1 h2{
        font-size: 8px;
    }

    .Row4Card1 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row4Card2{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row4Card2 h2{
        font-size: 15px;
    }

    .Row4Card2 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }

    .Row4Card3{
        width: 30%;
        height: 80px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
    }

    .Row4Card3 h2{
        font-size: 12px;
    }

    .Row4Card3 img{
        position: absolute;
        width: 70px;
        height: 70px;
        object-fit: cover;
    }
} */

@media (min-width: 481px) and (max-width: 768px) {

    .VCTitle{ 
        display: flex;
        width: 100%;
        height: 30px;
        font-family: mokoto;
        font-size: 20px;
        letter-spacing: 2px;
        color: white;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .LineShape7{
        width: 290px;
        height: 7px;
    }

    .VCRow1{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .VCRow2{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .VCRow3{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .VCRow4{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .Row1Card1{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        overflow: hidden;
        font-size: 13px;
        text-align: center;
    }

    .Row1Card1 img{
        position: absolute;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .Row1Card1 h2{
        font-size: 25px;
    }

    .Row1Card2{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row1Card2 h2{
        font-size: 25px;
    }

    .Row1Card2 img{
        position: absolute;
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    .Row1Card3{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
        text-align: center;
    }

    .Row1Card3 h2{
        font-size: 25px;
    }

    .Row1Card3 img{
        position: absolute;
        width: 90px;
        height: 60px;
        object-fit: cover;
    }

    .Row2Card1{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row2Card1 h2{
        font-size: 25px;
    }

    .Row2Card1 img{
        position: absolute;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .Row2Card2{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row2Card2 h2{
        font-size: 25px;
    }

    .Row2Card2 img{
        position: absolute;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .Row2Card3{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 12px;
        text-align: center;
    }

    .Row2Card3 h2{
        font-size: 20px;
    }

    .Row2Card3 img{
        position: absolute;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .Row3Card1{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
        text-align: center;
    }

    .Row3Card1 h2{
        font-size: 20px;
    }

    .Row3Card1 img{
        position: absolute;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .Row3Card2{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
        text-align: center;
    }

    .Row3Card2 h2{
        font-size: 20px;
    }

    .Row3Card2 img{
        position: absolute;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .Row3Card3{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
    }

    .Row3Card3 h2{
        font-size: 20px;
    }

    .Row3Card3 img{
        position: absolute;
        width: 120px;
        height: 120px;
        object-fit: cover;
        
    }

    .Row4Card1{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        overflow: hidden;
        font-size: 7px;
    }

    .Row4Card1 h2{
        font-size: 15px;
    }

    .Row4Card1 img{
        position: absolute;
        width: 120px;
        height: 120px;
        object-fit: cover;
    }

    .Row4Card2{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row4Card2 h2{
        font-size: 25px;
    }

    .Row4Card2 img{
        position: absolute;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .Row4Card3{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
    }

    .Row4Card3 h2{
        font-size: 20px;
    }

    .Row4Card3 img{
        position: absolute;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

@media (min-width: 769px) and (max-width: 1279px) {

    .VCTitle{ 
        display: flex;
        width: 100%;
        height: 30px;
        font-family: mokoto;
        font-size: 20px;
        letter-spacing: 2px;
        color: white;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .LineShape7{
        width: 290px;
        height: 7px;
    }

    .VCRow1{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .VCRow2{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .VCRow3{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .VCRow4{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .Row1Card1{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        overflow: hidden;
        font-size: 13px;
        text-align: center;
    }

    .Row1Card1 img{
        position: absolute;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .Row1Card1 h2{
        font-size: 25px;
    }

    .Row1Card2{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row1Card2 h2{
        font-size: 25px;
    }

    .Row1Card2 img{
        position: absolute;
        width: 80px;
        height: 80px;
        object-fit: cover;
    }

    .Row1Card3{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
        text-align: center;
    }

    .Row1Card3 h2{
        font-size: 25px;
    }

    .Row1Card3 img{
        position: absolute;
        width: 90px;
        height: 60px;
        object-fit: cover;
    }

    .Row2Card1{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row2Card1 h2{
        font-size: 25px;
    }

    .Row2Card1 img{
        position: absolute;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .Row2Card2{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row2Card2 h2{
        font-size: 25px;
    }

    .Row2Card2 img{
        position: absolute;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .Row2Card3{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 12px;
        text-align: center;
    }

    .Row2Card3 h2{
        font-size: 20px;
    }

    .Row2Card3 img{
        position: absolute;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .Row3Card1{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
        text-align: center;
    }

    .Row3Card1 h2{
        font-size: 20px;
    }

    .Row3Card1 img{
        position: absolute;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .Row3Card2{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
        text-align: center;
    }

    .Row3Card2 h2{
        font-size: 20px;
    }

    .Row3Card2 img{
        position: absolute;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .Row3Card3{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
    }

    .Row3Card3 h2{
        font-size: 20px;
    }

    .Row3Card3 img{
        position: absolute;
        width: 120px;
        height: 120px;
        object-fit: cover;
        
    }

    .Row4Card1{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        overflow: hidden;
        font-size: 7px;
    }

    .Row4Card1 h2{
        font-size: 15px;
    }

    .Row4Card1 img{
        position: absolute;
        width: 120px;
        height: 120px;
        object-fit: cover;
    }

    .Row4Card2{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
    }

    .Row4Card2 h2{
        font-size: 25px;
    }

    .Row4Card2 img{
        position: absolute;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .Row4Card3{
        width: 25%;
        height: 120px;
        background-image: linear-gradient(to bottom right, #ffffff, #00ffff45);
        transition: all 1.5s ease-in-out;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: mokoto;
        letter-spacing: 2px;
        font-size: 10px;
    }

    .Row4Card3 h2{
        font-size: 20px;
    }

    .Row4Card3 img{
        position: absolute;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}