@font-face {
    font-family: mokoto;
    src: url(../Fonts/Mokoto-Demo.ttf);
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.FloatingNavbarFrame{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80px;
    gap: 100px;
    background-color: #00000070;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 15px 25px #000000;
    z-index: 1;
}

.FloatingNavbarFrame img{
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.NavbarNavigations{
    display: flex;
    gap: 15px;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-link, .drop-menu li{
    list-style: none;
    height: 100%;
    cursor: pointer;
    width: 100%;
}

.drop-menu{
    display: none;
    width: 30%;
    height: 40vh;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    color: white;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem -0.5rem;
    background-color: #000000;
    font-family: mokoto;
    letter-spacing: 2px;
    border-radius: 0.5rem;
    font-size: 12px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 15px 25px #000000;
    animation: fadein 1.5s forwards;
}

.drop-menu li:hover{
    color: #C3C1C1;
}

.dropdown-icon {
    font-size: 15px;
    position: relative;
    right: -5px;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out all;
}

.AboutUs:hover .dropdown-icon{
    transform: rotate(180deg);
}

.NavbarNavigations a{
    font-family: mokoto;
    font-size: 15px;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
    letter-spacing: 2px;
    text-decoration: none;
}

.NavbarNavigations a:hover{
    color: #D2152B;
}

.AboutUs:hover .drop-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.AboutUs a{
    display: flex;
    width: 100%;
    height: 20px;
    align-items: center;
    outline: none;
    
}

.NavBtn{
    display: none;
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #D2152B;
    visibility: hidden;
    opacity: 0;
}

.NavBtn svg{
    width: 20px;
    height: 20px;
}

@media only screen and (max-width: 600px) {
    .FloatingNavbarFrame{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        height: 100%;
    }

    .FloatingNavbarFrame img{
        width: 30px;
        height: 30px;
    }

    .NavBtn{
        display: flex;
        visibility: visible;
        opacity: 1;
    }

    .NavbarNavigations{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background-color: #000000;
        transition: 1s;
        transform: translateY(-100vh);
    }

    .NavbarNavigations .NavCloseBtn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .nav-links{
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .nav-link{
        width: auto;
    }

    main .responsive_nav{
        transform: none;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .FloatingNavbarFrame{
        width: 100%;
        gap: 50px;
        height: 60px;
    }
    
    .FloatingNavbarFrame img{
        width: 25px;
        height: 25px;
    }
    
    .NavbarNavigations{
        gap: 10px;
    }

    .NavbarNavigations button{
        width: 50px;
        height: 20px;
        font-size: 5px;
    }  
}

